﻿@model MEHK.DAL.DTO.UserInfo


<div class="">
    <script>
    function GetFilterMemberName()
    {
        return {
            haveUnit:false

        }

    }
    </script>
    <div class="editor-label">
        <label for="DocListName">User</label>
    </div>
    <div class="editor-field">
        @(Html.Kendo().DropDownListFor(m => m.MemberId).Name("CreateMember")
        .DataValueField("MemberId")
        .DataTextField("MemberName")
         .Filter("contains")
        .DataSource(dataSource => dataSource
         .Read(read => read.Url("../../MEHK.CommonAPI/api/Organization/Members").Data("GetFilterMemberName"))
         )
        )
    </div>
</div>


