﻿@model MEHK.DAL.ViewModel.UpdateUnitModel


@using (Html.BeginForm("UpdateOrganizationViewModel", "Manage", FormMethod.Post, new { id = "sform", @class = "form-horizontal", style = "" }))
{
   
    @Html.Hidden("TypeID");
    <body>
        <div class="container" style="width:95%">
            <form class="form-horizontal" role="form">

                @Html.Kendo().TextBoxFor(m => m.Description).HtmlAttributes(new { style = "display:none" })

                <div class="form-group">

                    @Html.Label("Type", new { @class = "col-md-3 control-label" })

                    <div class="col-md-9">

                        @(Html.Kendo().DropDownListFor(m => m.UnitTypeId)
               .Name("ddlTypeID")
              .DataTextField("Description")
                //.OptionLabel("Please Select")
                .OptionLabel("--- Select Type ---")
                   .Filter("contains")
              .DataValueField("UnitTypeId")
              .DataSource(source =>

                  source.Read(read =>

                      read.Url("../../MEHK.CommonAPI/api/Organization/UnitTypes")


                  )
              )
              // .Events(e => e.Change("TypeValueChanged"))
              .HtmlAttributes(new { style = "width: 100%" })
                        )
                    </div>
                </div>
                <div class="form-group ParentRow">

                    @Html.Label("Parent", new { @class = "col-md-4 control-label" })

                    <div class="col-md-9 ">
                        @Html.Label(" ", new { @class = "ParentValue", @style = "display:none" })
                        @(Html.Kendo().DropDownListFor(m => m.ParentUnitId)
               .Name("ddlParentID")
               .OptionLabel("--- Select Parent ---")
              .DataTextField("UnitName")
              .DataValueField("UnitId")
              .Filter("contains")
              .DataSource(source =>

                  source.Read(read =>

                      read.Url("../../MEHK.CommonAPI/api/Organization/Units")
                      .Data("GetCreateTypeID")


                  ).ServerFiltering(true)
              )

              //.Events(e => e.Change("TypeValueChanged"))
              .HtmlAttributes(new { style = "width: 100%" })
            .CascadeFrom("ddlTypeID")
            .AutoBind(false)
            .Enable(false)
                        )
                        <br />
                        <input type="button" value="Clear" id="clearParentOrganization" class="btn default" onclick="doClear()" style="display:none;" />
                    </div>
                </div>

                <div class="form-group">

                    @Html.Label("Code", new { @class = "col-md-3 control-label" })

                    <div class="col-md-4">

                        @Html.Kendo().TextBoxFor(m => m.UnitName).Name("UnitName").HtmlAttributes(new { @class = "form-control", @maxlength = "20", style = "Width:100%" })
                        @Html.ValidationMessageFor(m => m.UnitName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">

                    @Html.Label("Name", new { @class = "col-md-3 control-label" })

                    <div class="col-md-4">

                        @Html.Kendo().TextBoxFor(m => m.Description).Name("Description").HtmlAttributes(new { @class = "form-control", @maxlength = "80", style = "Width:100%" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
           
                <div class="form-group">

                    @Html.Label("Cost Center(s)", new { @class = "col-md-3 control-label" })

                    <div class="col-md-9">

                        @(Html.Kendo().MultiSelectFor(model => model.CostCenters).Name("CostCenters")
          .Placeholder("--- Select Cost Center(s) ---").DataValueField("CostCenterId").DataTextField("Description")
           .Filter("contains")
          .DataSource(source =>

          {
              source.Read(read =>
              {
                  read.Url("../../MEHK.CommonAPI/api/Organization/CostCenters");
              })
              .ServerFiltering(true);
          })
          .HtmlAttributes(new { style = "width:100%;" })
                        )
                    </div>
                </div>




              
                <div class="form-group">
                    <div class="col-md-2 ">

                    </div>
                    <div class="col-md-4 ">


                        <input type="button" value="Create" id="Save" name="submitButton"  onclick="SaveAndCreate()" class="btn btn-primary" style="margin-right: 10px" />

                        <input type="button" value="Cancel" id="Cancel" class="btn btn-default" onclick="doCancel()" />
                    </div>
                </div>
                

            </form>
        </div>
        </body>

}

        <script>
            
            
           
            function test() {
                var BaseUrl = "http://192.168.1.227:8089";
                var  Formid = "2223";
                var gID = "AAF80B0E-7913-48B0-8F76-BED9461B68DA";
                var userID = "168";
                var processCode = "AC04";
                $.ajax({
                    type: "PUT",
                    url: BaseUrl + "/MEHK.CommonAPI/api/Common/Files/?Formid="+Formid+"&gID="+gID+"&userID="+userID+"&processCode="+processCode,
                    //cache: false,
                    //async: false,
                    success: function (data) {
                        alert(data)
                        //gv.data('kendoGrid').dataSource.read();
                        //gv.data('kendoGrid').refresh();
                    },
                    error: function (msg) {
                        //alert("ERROR " + msg);
                        alert(msg);
                    }
                })
            }
        </script>
